body{
    background-color
font-family:David

}
.secciones{
		background-color:#882127;
	padding: 15px;
	width:90%;
border-radius:189px;
}
.titulo{
		background-color:#882127;
	padding: 40px;
	width:89%;	
color:;
}
.descripcion{
	width:50%;
	padding: 34px;
}
.imagen{
	margin-left:567px;
	margin-bottom:-120px;
}
.color1 {color: ;}
.color2 {color: #733a39;}
.color3 {color: #a05949;}
.color4 {color: #d9885c;}
.color5 {color: #;}